.dropdown-item.text-white:hover{
    background-color: rgba(182, 7, 7, 0.2);
    border-radius: 10px;
}

.nav-link:hover{
    background-color: rgba(182, 7, 7, 0.2);
    border-radius: 10px;
}

.btn:hover{
    background-color: rgba(182, 7, 7, 0.2);
}


.carousel-item{
max-height: 650px;


}

@media(min-width: 992px ){

.carousel-item img{

    max-width: 1100px;
    margin: auto;

}

}